.timeline-container {
  background-color: #161b22; /* GitHub's dark background */
  color: #c7d5e0;
  margin: 0;
  padding: 20px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #ea6045; /* New color for the central line */
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item.left.visible {
  transform: translateX(-6px);
}

.timeline-item.right.visible {
  transform: translateX(6px);
}

.timeline-content {
  background-color: #0d1117;;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffa28b, 0 0 50px rgba(102, 192, 244, 0.4); 
  position: relative;
  display: flex;
  align-items: center;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
}

.timeline-content:hover {
  box-shadow: 0 0 8px #ea6045; /* New hover effect */
  transform: scale(0.98);
}

.timeline-avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #ea6045; /* Updated border color */
}

.timeline-date {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b2838;
  color: #66c0f4;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.timeline-title {
  font-size: 22px;
  color: #66c0f4;
  margin-bottom: 10px;
}

.timeline-description {
  font-size: 15px;
  color: #d4e0e6;
  line-height: 1.6;
}

.timeline-item.left::before,
.timeline-item.right::before {
  content: '';
  position: absolute;
  top: 40px;
  width: 12px;
  height: 12px;
  background-color: #ea6045; /* Updated arrow color */
  border-radius: 50%;
}

.timeline-item.left::before {
  right: -12px;
}

.timeline-item.right::before {
  left: -12px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .timeline-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-container::before {
    left: 20px;
  }

  .timeline-item.left::before,
  .timeline-item.right::before {
    left: 20px;
    right: auto;
  }

  .timeline-date {
    left: 20px;
    transform: translateX(0);
  }
}
